/* ---------------- GLOBAL STYLE ---------------- */
/* não tem necessidade de comentar essa parte. trivial */
body {
    background-color: #000;
    color: whitesmoke;
    font-family: "Monaco", monospace;
    
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

input{
    display: none;
}

p {
    font-size: 20px;
    text-align: justify;
}

button{
    cursor: pointer;
    background-color: black;
    color: rgba(128,0,128);
    border: 3px solid rgba(128,0,128);
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 20px;
    transition: 1s;   
}

button:hover{
    background-color: rgb(208, 64, 208);
    color: black;
    border: 3px solid rgba(208,64,208);
    box-shadow: 0px 0px 16px rgb(208, 64, 208);
    transform: scale(1.05);
}




/* ---------------- HEADER STYLE ---------------- */
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding-top: 2vh;
    z-index: 1;
    width: 100%;
    transition: 0.3s;
}

.header_menu {
    display: flex;
    width: 70vh;
    border-radius: 1.5vh;
    justify-content: space-evenly;
    background-color: rgb(30, 1, 26);
    border: 3px solid rgb(56, 18, 56);
    padding: 1vh;
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.3);
}

.header_menu button {
    background-color: transparent;
    color: rgba(128, 0, 128, 0.8);
    border: none;
    font-size: 2.2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.header_menu button:hover {
    border: 0;
    box-shadow: none;
    transform: scale(1.05);
    text-shadow: 0 0 8px rgba(240, 55, 240, 0.7);
}

.language_change {
    border-radius: 1.5vh;
    background-color: rgb(30, 1, 26);
    padding: 1vh;
    border: 3px solid rgb(56, 18, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.3);
    transition: all 0.2s ease;
}

.language_change img {
    width: 6vh;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.language_change img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgb(81, 4, 71);
}

.scrolled {
    padding-top: 1vh;
    background: linear-gradient(black 60%, rgb(0,0,0, 0.9));
    box-shadow: 0 10px 15px black;
}




/* ---------------- ABOUT ME STYLE ---------------- */
.about_me {
    margin-top: 10vh;
    display: flex;
    width: 80vw;
    justify-self: center;
    align-items: center;
    gap: 100px;
}

.about_me img{
    width: 500px;
    border-radius: 50%;
    box-shadow: 10px 10px 16px rgba(128,0,128);
    transition: 2s;
}

.about_me img:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 16px rgb(208, 64, 208);

}

.description_me{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INICIO DA ESTILIZAÇÃO PARA O TYPING */
.text_typing_br{
    display: inline-block;
    vertical-align: top;
    color: rgba(128,0,128);
    text-shadow: 2px 2px 10px rgba(128,0,128);
    border-right: 3px solid;
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing_br 4s steps(13) alternate infinite,
        cursor .4s step-end infinite alternate;
}

/* cursor piscando do typing */
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

/* typing de fato */
@keyframes typing_br{
    0%{
        width: 0;
    }
    75%{
        width: 13ch;
    }
}

/*mesma coisa só que pra en*/
.text_typing_en{
    display: inline-block;
    vertical-align: top;
    color: rgba(128,0,128);
    text-shadow: 2px 2px 10px rgba(128,0,128);
    border-right: 3px solid;
    width: 9ch;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing_en 3.4s steps(9) alternate infinite,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing_en{
    0%{
        width: 0;
    }
    75%{
        width: 9ch;
    }
}
/* FIM DA ESTILIZAÇÃO PARA O TYPING */




/* ---------------- SKILLS STYLE ---------------- */
.skills {
    margin-top: 10vh;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.icons_table{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 15px;
    padding: 10px;
    background-color: rgba(128,0,128, 0.5);
}

.half_table{
    display: flex;
    gap: 15px;
}

/* INICIO ESTILIZAÇÃO PARA FAZER O EFEITO DE SONAR NEON AO FAZER O HOVER */
.dynamic_shadows {
    cursor: pointer;
    width: 80px;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    display: block;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.icon_wrapper {
    position: relative;
}

.icon_wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: 
        conic-gradient(
            from var(--angle),
            transparent,
            rgb(232, 93, 232)
        );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 2px;
    border-radius: 24px;
    transition: opacity 0.3s ease;
    animation: 1.75s spin linear infinite;
    filter: blur(2px) drop-shadow(0 0 10px rgba(255, 20, 255, 0.9));
}

.icon_wrapper:hover::before {
    opacity: .8;
}
/* FIM ESTILIZAÇÃO PARA FAZER O EFEITO DE SONAR NEON AO FAZER O HOVER */

/* INICIO ESTILIZAÇÃO PARA AO CLICAR APARECER O NOME DA SKILL */
.skill_name{
    position: absolute;
    background-color: rgb(62, 14, 62);
    border: 4px solid rgb(128,0,128);
    width: fit-content;
    height: fit-content;
    top: -40%;
    left: 80%;
    font-size: 2.5vh;
    z-index: -1;
    padding: 1.5vh;
    border-radius: 20vh;
    opacity: 0;
}

@keyframes pop_up{
    0%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 1;
        transform: translateY(40%);
        z-index: 3;
    }
} 

/*
se for olhar o html essa animação não existe la, essa classe é a responsável por fazer a animação do pop_up.
ao ler o js vc consegue perceber que estou colocando e retirando essa classe na div com o nome das skills.
*/
.animate {
    animation: pop_up 0.6s ease forwards;
}
/* FIM ESTILIZAÇÃO PARA AO CLICAR APARECER O NOME DA SKILL */




/* ---------------- PROJECTS STYLE ---------------- */
.projects{
    margin-top: 10vh;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}   

.cards{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px rgba(104, 21, 104, 0.5);
}

.animated_card:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 30px rgba(208, 64, 208, 0.5);
}

input:checked + label{
    width: 800px;
}

.description{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon{
    background: rgba(128,0,128, 0.5);
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 50px;
}

.icon p{
    display: inline-block;
    transition: opacity 0.3s ease;
}

.text{
    background: rgba(128,0,128, 0.5);
    padding: 2vh;
    border-radius: 30vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    width: 500px;
    opacity: 0;
    transition-delay: .3s;
    transition: all .3s ease;
}

.text p{
    font-size: 1rem;
}

.text h3{
    font-size: 1.2rem;
}

.text h4{
    text-transform: uppercase;
}

input:checked + label .text{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="card_1"]{
    background-image: url(../assets/overview_1.png);
}

.card[for="card_2"]{
    background-image: url(../assets/dashboard.png);
}

.card[for="card_3"]{
    background-image: url(../assets/star_wreck.png);
}

.card[for="card_4"]{
    background-image: url(../assets/site_nab.png);
}




/* ---------------- FOOTER STYLE ---------------- */
/* não tem necessidade de comentar essa parte. trivial */
.footer {
    margin-top: 12vh;
    border-top: 2px solid rgba(104, 21, 104, 0.5);
    box-shadow: 10px 10px 30px rgb(208, 64, 208);
    background: linear-gradient(rgb(17, 0, 15) 95%, rgba(208, 64, 208, 0.3));
    height: fit-content;
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-evenly;
}

.footer h4{
    color: rgb(220, 5, 220);
    padding-bottom: 2vh;
    font-size: 4.5vh;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colored{
    color: rgba(128,0,128); 
}

.menu_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.menu_buttons button{
    background-color: transparent;
    color: rgba(128,0,128);
    border: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    font-size: 20px;
    transition: none; 
}

.menu_buttons button:hover{
    border: 0;
    text-shadow: 1px 1px 5px rgba(240, 55, 240, 0.6);
    box-shadow: none;
    transform: scale(1.05);
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_infos{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}